

.table_wrap{

   border-top:2px solid black;
   border-bottom:1px solid black;
    width:900px;
    margin:auto;
    
}


tr:nth-child(even) {
    background-color: #f0f0f070;
  }

.table_tr{
border-top:2px solid black;
border:10px solid black;


}

.table_td_title{

    width:450px;

}

.table_td{
    border-top:1px solid black  ;
    margin:0%;
    padding:0px 0px 0px 0px ;
}
